@model ProductMVC.Models.ProductViewModel
@{
    ViewData["Title"] = "Add Product";
}
<h1>Create</h1>
<h4>@ViewData["Title"]</h4>
<form enctype="multipart/form-data" method="post" asp-controller="Product" asp-action="Create" class="w-75 mx-auto">
    <div class="mb-3">
        <label for="Name" class="form-label">Please enter Name:</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Please enter Description:</label>
        <input type="text" class="form-control" id="Description" asp-for="Description" />
    </div>
    <div class="mb-3">
        <label for="BuyingPrice" class="form-label">Please enter Buying Price:</label>
        <input type="text" class="form-control" id="BuyingPrice" asp-for="BuyingPrice" />
    </div>
    <div class="mb-3">
        <label for="Supplier" class="form-label">Please enter Supplier:</label>
        <div class="col-sm-9">
            <select class="form-select" asp-for="Supplier">
                <option value="Unknown">Unknown</option>
                <option value="7-Eleven">7-Eleven</option>
                <option value="Family Mart">Family Mart</option>
                <option value="Lotus's go fresh">Lotus's go fresh</option>
                <option value="Mini Big C">Mini Big C</option>
                <option value="Tops Daily">Tops Daily</option>
            </select>
        </div>
    </div>
    <div class="mp-3">
        <label for="Picture" class="form-label">Please enter Picture:</label>
        <input type="file" class="form-control" name="PictureFile" id="PictureFileName" />
    </div>
    <div class="mb-3">
        <label for="ManufacturingDate" class="form-label">Please enter Date of Manufacturing:</label>
        <div class="col-sm-9">
            <input asp-for="ManufacturingDate" type="date" class="form-control" />
        </div>
    </div>
    <div class="mb-3">
        <label for="PurchasingDate" class="form-label">Please enter Date of Purchasing:</label>
        <div class="col-sm-9">
            <input asp-for="PurchasingDate" type="date" class="form-control" />
        </div>
    </div>
    <div class="mb-3">
        <label for="ExpirationDate" class="form-label">Expiration Date:</label>
    </div>
    
    <div class="mb-3">
        <label>&nbsp;&nbsp;&nbsp;</label>
        <div class="col-sm-9">
            <input type="submit" class="btn btn-info mx-auto d-inline" value="Save" />
            <input type="button" class="btn btn-primary mx-auto d-inline" value="Cancel" action="action"
                onclick="window.location.href='../'" />
        </div>
    </div>
</form> 